
.md\:my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;

}

.md\:flex {
    display: flex !important;
}


.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.link-menu {
    color: blanchedalmond
}

.md\:flex-row {
    flex-direction: row !important;

}

.flex {
    display: flex;
}

.mb-5 {
    padding-left: 1.5rem;
}

.monserrat {
    font-family: 'monserrat', sans-serif !important;
}